# IDE
.idea
.vscode
# Python
*__pycache__*
*.py[cod]
*.cpython-36.pyc
*.egg-info

# Model weights
*ckpts_efficientnet*
*ckpts_streamvlm*
*Llama-2-7b-hf*

# Qualcomm QEVD dataset
*QEVD*

# Saved output
*streamvlm_responses.json